p {
    font-family: 'Playfair Display', serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    margin: 0;
    font-family: "Libre Baskerville";
    background-color: rgb(235, 235, 241);
    padding-top: 100px;
    padding-left: 100px;
}
