.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(235, 235, 241,0.95);
    box-shadow: 0 3px 5px rgba(204, 204, 204, 0.493);
    border-bottom: 1px solid rgb(204, 204, 204);
    z-index: 100;
}

.left-section{
    align-items: center;
    display: flex;

}
#youtube-logo{
    height: 20px;
    width: 92.9883px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
#youtube-logo:hover{
    scale: 1.2;
    rotate: 360deg;
}
#hamburger-menu{
    height: 23.9844px;
    margin-left: 10px;
    margin-right: 0;
    width: 50px;
    cursor: pointer;
}

.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 50px;
    margin-right: 35px;
    max-width: 550px;
}
#search-bar{
    flex: 1;
    height: 40px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    box-shadow: inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    outline: #8b8181;
    background-color: transparent;
}
#search-bar::placeholder{
    font-size: 14px;
    color: black;
    font-family: "Libre Baskerville";
}
#search-button{
    margin-left: 0;
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: transparent;
    box-shadow: inset;
    cursor: pointer;
    position: relative;
}
#search-button:hover{
    box-shadow: 0 0 1px black ;
    background-color: rgba(219, 219, 200, 0.541);
    scale: 1.05;
    rotate: 1deg;
}
#search-button #tooltip{
    background-color: rgba(168, 149, 149, 0.5);
    font-size: 12px;
    font-family: 'Playfair Display';
    color: black;
    position: absolute;
    border-radius: 30%;
    padding: 4px 5px;
    bottom: -25px;
    left:0px;
    opacity:0;
    transition: all .3s linear;
    pointer-events: none;
}
#search-button:hover #tooltip{
    opacity: 1;
}
#search-button-image{
    object-fit: contain;
    overflow: hidden;
    height: 24px;
    width: 24px;

}
#voice-search-image{
    object-fit: contain;
    overflow: hidden;
    height: 22px;
    width: 22px;
}
#voice-search-button{
    height: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    box-shadow: inset;
    border: none;
    border-radius: 40px;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 1s ease-in-out;
}
#voice-search-button #tooltip{
    background-color: rgba(168, 149, 149, 0.5);
    font-size: 12px;
    font-family: 'Playfair Display';
    color: black;
    position: absolute;
    border-radius: 30%;
    transition: all .3s linear;
    pointer-events: none;
    bottom: -20px;
    right: -20px;
    width: 69px;
    opacity: 0;
    pointer-events: none;
}
#voice-search-button:hover{
    box-shadow: 0 0 1px black ;
    background-color: rgba(219, 219, 200, 0.541);
    scale: 1.05;
    rotate: 1deg;
}
#voice-search-button:hover #tooltip{
    opacity: 1;
}

.right-section{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    flex-shrink: 0;
}
#create-icon-container,#account-icon-container{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification-icon-container {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgba(204, 13, 13, 0.753);
    color: white;
    border-radius: 50%;
    width: 16px;       /* Adjust size as needed */
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 2px;
}

#account-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#create-icon{
    height: 24.023px;
    width: 24.023px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
#notification-icon{
    height: 24.023px;
    width: 24.023px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
#account-icon{
    border-radius: 16px;
    height: 31.99px;
    width: 31.99px;
    object-fit: cover;
    overflow: hidden;
}
